<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCChEUaGJY6ZAqbH1v_fzD1DamyxyfjAf8</string>
	<key>GCM_SENDER_ID</key>
	<string>805747406083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanawat.CCheck</string>
	<key>PROJECT_ID</key>
	<string>ccheck-ba498</string>
	<key>STORAGE_BUCKET</key>
	<string>ccheck-ba498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805747406083:ios:da144aa6e7d1faa2926536</string>
</dict>
</plist>